* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.main-area {
  *zoom: 1;
  display: block;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%; }
  .main-area:before, .main-area:after {
    content: " ";
    display: table; }
  .main-area:after {
    clear: both; }
  .main-area:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .main-area {
      display: block;
      float: left;
      margin-right: 3.16844%;
      width: 100%; }
      .main-area:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .main-area {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 100%; }
      .main-area:last-child {
        margin-right: 0; } }

.content {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 74.41059%;
  background: #fefcf9;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 15px;
  box-shadow: inset 0 0 10px 5px #f3f3f3; }
  .content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .content {
      display: block;
      float: left;
      margin-right: 3.16844%;
      width: 100%; }
      .content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .content {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 100%; }
      .content:last-child {
        margin-right: 0; } }
  .content pre {
    background-color: #f6f4f1;
    border: 1px solid #727475;
    border-radius: 2px;
    padding: 10px;
    overflow: scroll; }

.side-nav {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%;
  background: #fefcf9;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 15px;
  box-shadow: inset 0 0 10px 5px #f3f3f3; }
  .side-nav:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .side-nav {
      display: none; } }
  .side-nav .section .section-title {
    font-weight: 600;
    margin-bottom: 5px; }
  .side-nav .nav-list {
    list-style: none;
    padding-left: 10px;
    margin: 0; }

.navbar-container {
  *zoom: 1;
  display: block;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  height: 52px; }
  .navbar-container:before, .navbar-container:after {
    content: " ";
    display: table; }
  .navbar-container:after {
    clear: both; }
  .navbar-container:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .navbar-container {
      display: block;
      float: left;
      margin-right: 3.16844%;
      width: 100%; }
      .navbar-container:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .navbar-container {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 100%; }
      .navbar-container:last-child {
        margin-right: 0; } }

.navbar {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  background: #3e3e3e;
  padding-top: 15px;
  padding-bottom: 15px; }
  .navbar:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .navbar {
      display: block;
      float: left;
      margin-right: 3.16844%;
      width: 100%; }
      .navbar:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .navbar {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 100%; }
      .navbar:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 768px) {
    .navbar {
      position: fixed;
      top: 0;
      max-width: 68em; } }
  .affix .navbar {
    position: fixed;
    top: 0;
    max-width: 68em; }
  .navbar .navlist {
    display: inline-block;
    list-style: none outside;
    margin: 0;
    padding-left: 0; }
    @media screen and (max-width: 768px) {
      .navbar .navlist {
        float: right;
        margin-right: 30px; } }
    .affix .navbar .navlist {
      float: right;
      margin-right: 30px; }
    .navbar .navlist .navbar-item, .navbar .navlist .navbar-title {
      display: inline;
      margin-left: 30px; }
  .navbar a {
    color: #f6f4f1; }
    .navbar a:hover {
      color: #fefcf9; }
    .navbar a.active {
      color: #fefcf9; }
  .navbar .navbar-title {
    display: none; }
    @media screen and (max-width: 768px) {
      .navbar .navbar-title {
        display: inline-block;
        margin-left: 30px; } }
    .affix .navbar .navbar-title {
      display: inline-block;
      margin-left: 30px; }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #3e3e3e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e3e3e), color-stop(50%, #727475), color-stop(100%, #3e3e3e));
  background-image: -webkit-linear-gradient(-360deg, #3e3e3e, #727475, #3e3e3e);
  background-image: linear-gradient(90deg,#3e3e3e, #727475, #3e3e3e);
  color: #0c0c10;
  margin: 8; }

a {
  color: #538ea4;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.heading {
  *zoom: 1;
  display: block;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  background: #fefcf9;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 15px;
  box-shadow: inset 0 0 10px 5px #f3f3f3;
  padding-left: 60px; }
  .heading:before, .heading:after {
    content: " ";
    display: table; }
  .heading:after {
    clear: both; }
  .heading:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .heading {
      display: block;
      float: left;
      margin-right: 3.16844%;
      width: 100%; }
      .heading:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .heading {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 100%; }
      .heading:last-child {
        margin-right: 0; } }
  .heading .title {
    font-size: 4em;
    font-weight: 800;
    margin-bottom: 10px; }
  .heading .subtitle {
    font-size: 1.5em;
    font-style: italic;
    margin-top: 0px; }
  @media screen and (max-width: 768px) {
    .heading {
      display: none; } }

footer {
  *zoom: 1;
  display: block;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 10px;
  color: #fefcf9; }
  footer:before, footer:after {
    content: " ";
    display: table; }
  footer:after {
    clear: both; }
  footer:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    footer {
      display: block;
      float: left;
      margin-right: 3.16844%;
      width: 100%; }
      footer:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    footer {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 100%; }
      footer:last-child {
        margin-right: 0; } }
  footer a {
    color: #f1cfaa; }

.page-header {
  border-bottom: 1px solid #727475; }
  .page-header h1 {
    font-size: 2.25em;
    margin-bottom: 10px; }
    .page-header h1 small {
      color: rgba(12, 12, 16, 0.7);
      font-size: 0.6em;
      font-weight: 400;
      margin-top: 100%;
      margin-left: 10px; }
