* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.main-area {
  *zoom: 1;
  display: block;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%; }
  .main-area:before, .main-area:after {
    content: " ";
    display: table; }
  .main-area:after {
    clear: both; }
  .main-area:last-child {
    margin-right: 0; }

.content {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 74.41059%;
  background: #fefcf9;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 15px;
  box-shadow: inset 0 0 10px 5px #f3f3f3; }
  .content:last-child {
    margin-right: 0; }

.side-nav {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%;
  background: #fefcf9;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 15px;
  box-shadow: inset 0 0 10px 5px #f3f3f3; }
  .side-nav:last-child {
    margin-right: 0; }
  .side-nav .section .section-title {
    font-weight: 600;
    margin-bottom: 5px; }
  .side-nav .nav-list {
    list-style: none;
    padding-left: 10px;
    margin: 0; }

.navbar {
  *zoom: 1;
  display: block;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  list-style: none outside;
  background: #3e3e3e;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0; }
  .navbar:before, .navbar:after {
    content: " ";
    display: table; }
  .navbar:after {
    clear: both; }
  .navbar:last-child {
    margin-right: 0; }
  .navbar .navbar-item {
    display: inline;
    margin-left: 30px; }
    .navbar .navbar-item a {
      color: rgba(254, 252, 249, 0.7); }
      .navbar .navbar-item a:hover {
        color: #fefcf9; }
      .navbar .navbar-item a.active {
        color: #fefcf9; }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #3e3e3e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e3e3e), color-stop(50%, #727475), color-stop(100%, #3e3e3e));
  background-image: -webkit-linear-gradient(-360deg, #3e3e3e, #727475, #3e3e3e);
  background-image: linear-gradient(90deg,#3e3e3e, #727475, #3e3e3e);
  color: #0c0c10; }

a {
  color: #538ea4;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.heading {
  *zoom: 1;
  display: block;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  background: #fefcf9;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 15px;
  box-shadow: inset 0 0 10px 5px #f3f3f3;
  padding-left: 60px; }
  .heading:before, .heading:after {
    content: " ";
    display: table; }
  .heading:after {
    clear: both; }
  .heading:last-child {
    margin-right: 0; }
  .heading .title {
    font-size: 4em;
    font-weight: 800;
    margin-bottom: 10px; }
  .heading .subtitle {
    font-size: 1.5em;
    font-style: italic;
    margin-top: 0px; }

footer {
  *zoom: 1;
  display: block;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 10px;
  color: #fefcf9; }
  footer:before, footer:after {
    content: " ";
    display: table; }
  footer:after {
    clear: both; }
  footer:last-child {
    margin-right: 0; }
  footer a {
    color: #f1cfaa; }
